.card {
  height: 370px;
  padding: 15px 13px 0 14px;
}

.card h2 {
  padding-left: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  margin-top: 16px;
}

.item {
  padding: 9.5px 10px 10px;
  border-radius: 10px;
}

.featured {
  padding-bottom: 13px;
  background: var(--highlight);
}

.featured > :last-child {
  display: flex;
  width: max-content;
  margin-top: 7.5px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.description {
  font-size: 12px;
  line-height: 15px;
  color: var(--muted);
}
